[submodule "lua"]
	path = lua
	url = git://github.com/LuaDist/lua.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = git://github.com/LuaDist/luafilesystem.git
[submodule "luadist-git"]
	path = luadist-git
	url = git://github.com/LuaDist/luadist-git.git
[submodule "srlua"]
	path = srlua
	url = git://github.com/LuaDist/srlua.git
[submodule "lua-git"]
	path = lua-git
	url = git://github.com/LuaDist/lua-git.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/LuaDist/zlib.git
[submodule "luasocket"]
	path = luasocket
	url = git://github.com/LuaDist/luasocket.git
